.NewCredentialButton {
  background-color: var(--activeBackground);
  border-radius: 1000px;
  width: 65px;
  height: 65px;
  font-size: 24px;
  position: absolute;
  bottom: 25px;

  &:hover {
    background-color: var(--primary);
  }
}

.NewCredentialButton {
  right: 25px;
}

.CredentialKeyValueContainer {
  display: flex;
  padding: 15px;
  cursor: pointer;
  b {
    width: 150px;
    margin-right: 40px;
  }

  &:hover {
    background-color: var(--primary);
  }
}

.CredentialsList {
  p {
    padding-right: 20px;
  }
}

.CredentialsItem {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--primary);
  }
  b {
    width: 125px;
  }
}

.AttrNameContainer {
  margin: 50px 20px;
  display: flex;
  flex-direction: row;

  * {
    margin-right: 30px;
  }
}

.AttachmentButton {
  background-color: var(--activeBackground);

  &:hover {
    background-color: var(--primary);
  }
}

select {
  background-color: inherit;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid var(--primary);
}
