.NewCredentialButton {
  background-color: var(--activeBackground);
  border-radius: 1000px;
  width: 65px;
  height: 65px;
  font-size: 24px;
  position: absolute;
  bottom: 25px;

  &:hover {
    background-color: var(--primary);
  }
}

.NewCredentialButton {
  right: 25px;
}
