.ConnectionsList {
  //width: 500px;
  p {
    padding-right: 20px;
  }
}

.ConnectionsItem {
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  flex-direction: row;

  &:hover {
    background-color: var(--primary);
  }
  b {
    width: 125px;
  }
}

.TitleContainer {
  display: flex;
  justify-content: space-between;

  .BackButton {
    b {
      font-size: 18px;
    }
    margin-right: 20px;
    background-color: var(--activeBackground);
    padding: 0 15px;

    &:hover {
      background-color: var(--primary);
    }
  }
}

.KeyValueContainer {
  display: flex;
  flex-direction: row;
  padding: 15px;

  .Key {
    width: 100px;
  }
}

.NewConnectionButton,
.ReceiveConnectionButton {
  background-color: var(--activeBackground);
  border-radius: 1000px;
  width: 65px;
  height: 65px;
  font-size: 24px;
  position: absolute;
  bottom: 25px;

  &:hover {
    background-color: var(--primary);
  }
}

.NewConnectionButton {
  right: 25px;
}

.ReceiveConnectionButton {
  left: 250px;
}
